.block {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  margin-bottom: 30px;
}
.block .item {
  background: #a7d9a7;
  height: 150px;
}
.block .sponsor {
  background: #f4c542;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.quote {
  text-align: center;
  padding: 30px;
  border: 1px solid #aaa;
  margin-bottom: 30px;
  font-style: italic;
}

/* Bootstrap NavBar */
.navbar{
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
}

.navbar-nav {
  display: flex;
  flex: 1;
  width: 100%;
  justify-content: space-between; /* chia đều */
}

.navbar-nav .nav-item {
  flex: 1;
  text-align: center;
}

.navbar-nav .nav-link {
  padding-top: 7px;
  padding-bottom: 7px;
  font-size: 16px; 
}

/* Bootstrap Carousel */
.carousel-inner{
  height: 350px;
  margin-bottom: 25px;
}

.carousel-inner img{
  object-fit: cover;
}

/* Card */
.card img{
  height: 200px;
  object-fit: cover;
}

/* Responsive: kích thước điện thoại */
@media (max-width: 700px){
  .block {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}