:root {
--primary: #309b65;
--secondary: #000000;
--light: #FFFFFF;
--dark: #000000;
--primary-darker: #26764d;
--primary-boder: #26764d;
--primary-active: #1f5c3d;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  min-height: 100vh;
  /* background: #efece8; */
  /* background-image: url("../img//background-image.png"); */
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.body-content-container{
  font-family: "Roboto";
  margin-top: 105px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 21px;
  left: 1%;
}
.main-content{
  width: 60%;
}
.sidebar{
  width: 100%;
}

.logo {
  background: var(--primary);
  color: white;
  display: inline-block;
  padding: 10px 20px;
  font-family: "Playfair Display";
  font-weight: bold;
  margin-bottom: 20px;
}

/* Mặc định: ẩn thanh pc mobile trên màn hình nhỏ */
.pc-search input{
  border: 2px solid var(--primary-darker) !important;
  padding-right: 54px !important;
}

/* Mặc định: ẩn thanh search mobile trên màn hình lớn */
.mobile-search{
  display: none;
  gap: 8px;
}
.mobile-search input{
  flex: 1;
  border: 2px solid var(--primary-darker) !important;
}

/* Responsive: kích thước điện thoại */
@media (max-width: 1268px){
  .navbar-nav .nav-link {
    font-size: 24px;
  }
}
@media (max-width: 1200px){
  .pc-search {
    display: none;
  }
  .mobile-search{ 
    display: initial; 
  }
  .body-content-container{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 21px;
  }
  .main-content{
    width: 100%;
    display: initial;
  }
  .sidebar{
    width: 0%;
    display: none;
  }
  .mobile-search{
    width: 100%;
  }
}
