:root {
/* --primary: #EAA636;
--secondary: #545454;
--light: #FDF5EB;
--dark: #1E1916; */
--primary: #309b65;
--secondary: #000000;
--light: #FFFFFF;
--dark: #000000;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  min-height: 100vh;
  /* background: #efece8; */
  /* background-image: url("../img//background-image.png"); */
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
}

/* Cột trái: logo + navbar */
.logo {
  background: var(--primary);
  color: white;
  display: inline-block;
  padding: 10px 20px;
  font-family: "Playfair Display";
  font-weight: bold;
  margin-bottom: 20px;
}

/* Cột phải: search + images */
.search-box {
  margin-bottom: 20px;
}
.search-box input {
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 20px;
  font-size: 12px;
}
.search-box button{
  border-radius: 20px;
}
.sidebar-box {
  background: #e3e3e3;
  height: 200px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #333;
  font-weight: bold;
}
/* Mặc định: ẩn thanh search mobile trên màn hình lớn */
.mobile-search{
  display: none;
  gap: 8px;
}
.mobile-search input{
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
  font-size: 12px;
}
.mobile-search button{
  border-radius: 20px;
}

/* Responsive: kích thước điện thoại */
@media (max-width: 1268px){
  .navbar-nav .nav-link {
    font-size: 24px;
  }
}
@media (max-width: 768px){
  .right{ display: none; }      /* Ẩn cột phải */
  .left{ width: 100%; }         /* Cột trái chiếm full */
  .mobile-search{ display: initial; }  /* Hiện thanh search ở cột trái */
}