/* Importing the fonts */
@import url(
'https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap');
* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background: #f2f2f2;
}

/* ======= Style chung ======= */
nav {
    background: #037729;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    padding: 0 100px;
}

/* ======= Bên trái Nav ======= */
/* Logo này dùng để demo */
nav .logo {
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: -1px;
}

/* ======= Phần giữa Nav ======= */
nav .nav-items {
    display: flex;
}
nav .nav-items li {
    list-style: none;
    padding: 0 10px;
}
nav .nav-items li a {
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    text-decoration: none;
}
nav .nav-items li a:hover {
    color: #19191b;
}

/* ======= Bên phải Nav ======= */
/* Thanh search ở trạng thái bình thường -> Ẩn */
nav .searchbar {
    position: relative;
}
nav .searchbar input[type="text"] {
    border: 0;
    padding: 0;
    width: 0px;
    height: 35px;
    border-radius: 3px;
    transition: all 0.3s ease;
}
nav .searchbar .icon {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    width: 35px;
    height: 100%;
    background: none;
    border-radius: 3px;
    color: #fff;
    transition: all 0.5s 0.3s ease;
}
nav .searchbar .icon i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

/* Thanh search ở trạng thái kích hoạt -> Hiện ra */
nav .searchbar .icon.active {
    background: #062333;
    transition: all 0.3s ease;
}
nav .searchbar input[type="text"].active {
    width: 250px;
    padding: 0 10px;
    transition: all 0.5s 0.2s ease;
    border: solid;
}
