/* ======= Style chung ======= */
nav {
    background: var(--light);
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    padding: 0 100px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    box-shadow: 2px 2px 3px lightgray;
}

/* ======= Bên trái Nav ======= */
/* Logo này dùng để demo */
nav .logo {
    color: var(--primary);
    font-size: 30px;
    font-weight: 600;
    letter-spacing: -1px;
    background: #ffffff;
    padding: 0;
    margin: 0;
}

/* ======= Phần giữa Nav ======= */
nav .nav-items {
    display: flex;
    justify-content: center;
    gap: 14px;
}
nav .nav-items li {
    list-style: none;
    padding: 0 10px;
}
nav .nav-items li a {
    color: var(--primary);
    font-family: "EB Garamond";
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
}
nav .nav-items li a:hover {
    color: #19191b;
}

/* ======= Bên phải Nav ======= */
/* Thanh search ở trạng thái bình thường -> Ẩn */
nav .searchbar {
    position: relative;
}
nav .searchbar input[type="text"] {
    border: 0;
    padding: 0;
    width: 0px;
    height: 35px;
    border-radius: 3px;
    transition: all 0.3s ease;
}
nav .searchbar .icon {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    width: 35px;
    height: 100%;
    background: none;
    border-radius: 3px;
    color: #fff;
    transition: all 0.5s 0.3s ease;
}
nav .searchbar .icon i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    color: var(--primary);
}

/* Thanh search ở trạng thái kích hoạt -> Hiện ra */
nav .searchbar .icon.active{
    background: var(--primary);
    transition: all 0.3s ease;
}
nav .searchbar .icon.active i {
    color: var(--light);
}
nav .searchbar input[type="text"].active {
    width: 200px;
    padding: 0 10px;
    transition: all 0.5s 0.2s ease;
    border: solid;
    border-color: var(--primary);
}
