/* ======= List blog dạng card ======= */
.block {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  margin-bottom: 30px;
}
.card{
border-radius: 0 !important;
}
.card img{
height: 400px;
border-radius: 0 !important;
object-fit: cover;
}
.card .btn{
border-radius: 3px;
font-weight: 500 !important;
background: var(--primary) !important;
border: var(--primary) !important;
color: var(--light) !important;
}
.card .btn:focus{
border: var(--primary) !important;
}

/* Responsive */
@media (max-width: 700px){
  .block {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}