/* ======= List blog dáº¡ng stream ======= */
.block .container h5{
font-size: 16px;
font-family: Arial, Helvetica, sans-serif;
font-weight: 500;
cursor: pointer;
}
.block .container h5:hover{
color: var(--primary);
}
.block .article img{
  width: 120px;
  height: 80px;
  min-width: 80px;
  min-height: 80px;
  object-fit: cover;
}
.block .badge{
font-size: 12px !important;
border-radius: 3px;
background-color: var(--primary) !important;
}
.article h5{
font-family: "EB Garamond" !important;
}