/* ======= Carousel Sildeshow ======= */
.carousel{
margin: 21px 0px;
}
.carousel-inner{
height: 746px;
display: flex;
align-items: center;
}
.carousel-inner img{
object-fit: cover;
width: 140% !important;
}

/* Responsive */
@media (max-width: 700px){
.carousel-inner{
height: 200px;
}
}