/* ======= Form điền thông tin liên hệ ======= */
#formModal .modal-content {
background: rgba(255, 255, 255, .8);
}
#formModal .modal-body {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
#formModal .contact-form .form-control,
#formModal .contact-form button[type="submit"] {
  width: 100%;
}
#formModal .border-secondary {
border-color: var(--primary) !important;
}
/*
  Note: 
  Chỉnh màu icon "X"
*/
.modal-header button{
  /*...*/
}

label{
  color: var(--primary);
}

/* Responsive */
#formModal .contact-form {
  width: min(500px, 100vw - 3rem);  /* Lưu ý: max 500px, trên mobile thì ~100% */
}
