/* ======= Form điền thông tin liên hệ ======= */
#formModal .modal-content {
background: rgba(255, 255, 255, .8);
}
.modal-body{
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
}
.input-group{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.inputform {
width: 500px !important;
}