.player-container {
    max-width: 100%;
    margin-top: 14px;
    padding: 1px;
    border-radius: 30px;
}

.player-container button{
    border-radius: 35px !important;
}

.plyr--audio .plyr__controls{
  background: rgba(128,128,128,.1); 
  border-radius: 30px !important;
}

.plyr--audio .plyr__controls .plyr__control{
  background: #2e7d32;  
  color: #fff;         
  border-radius: 6px;
}
.plyr--audio .plyr__controls .plyr__control:hover{
  background:#1b5e20;
}