/* ======= Navigation Bar ======= */
.nav-left, .nav-right{
display: flex;
flex-direction: row;
align-items: center;
}
.nav-left{
justify-content: center;
width: 1215px;
}
.nav-right{
width: 300px;
justify-content: center;
gap: 14px;
margin-left: 21px;
}
.container-fluid{
padding: 0;
justify-content: center;
}
.navbar-brand{
margin: 0;
}
.navbar-brand h1{
font-family: "EB Garamond";
font-size: 28px;
color: var(--primary) !important;
padding: 0;
margin: 0;
}
.navbar .navbar-nav .nav-link {
padding: 10px 8px;
font-size: 14px;
transition: .5s;
color: #666666;
border-bottom: 3px solid var(--light);
transition: color 0.3s ease;
}
/* Phần sub Tiếng Anh bình thường sẽ ẩn đi */
.nav-item.nav-link i {
  opacity: 0;
  transform: translateY(5px);
  transition: all 0.3s ease;
  color: var(--primary);
  display: inline-block;
}
/* Hiện sub Tiếng Anh khi hover */
.nav-item.nav-link:hover i,
.nav-item.nav-link.active i {
  opacity: 1;
  transform: translateY(0);
}
/* Đổi màu text khi tab active */
.nav-item.nav-link.active strong {
  color: var(--primary);
}
.navbar {
height: 100px;
border-bottom: 1px solid rgba(255, 255, 255, .1);
display: flex;
flex-direction: row;
justify-content: center;
}
.navbar strong, .navbar li{
font-family: "Roboto";
letter-spacing: 0.7px;
}
.navbar-nav{
gap: 49px;
}
.navbar-nav a{
width: 120px;
}
.nav-item strong {
display: inline-block;
transition: opacity 0.3s ease;
opacity: 1;
}
.nav-item strong.fade-out {
opacity: 0;
}
.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active,
.fixed-top.bg-white .navbar .navbar-nav .nav-link:hover,
.fixed-top.bg-white .navbar .navbar-nav .nav-link.active {
color: var(--primary);
}
.navbar .dropdown-toggle::after {
border: none;
content: "\f107";
font-family: "Font Awesome 5 Free";
font-weight: 700;
vertical-align: middle;
margin-left: 8px;
}
.dropdown .dropdown-menu a:hover {
background: var(--bs-secondary);
color: var(--bs-primary);
}
.navbar .nav-item:hover .dropdown-menu {
transform: rotateX(0deg);
visibility: visible;
background: var(--bs-light) !important;
border-radius: 10px !important;
transition: .5s;
opacity: 1;
}
/* Hiệu ứng có script (main.js): 
Thêm hiệu ứng đổ bóng tách khỏi nền khi kéo trang xuống */
.fixed-top {
transition: 0.5s;
background: var(--bs-white);
border: 0;
}

/* ======= Menu Chọn Ngôn Ngữ ======= */
.language-selector{
border: solid 1px var(--primary) !important;
border-radius: 7px;
}
.language-selector button{
color: var(--primary) !important;
}
.language-selector .dropdown-item:hover{
background-color: var(--light) !important;
}

/* ======= Search-bar PC ======= */
.pc-search{
margin-bottom: 21px;
}
.pc-search input{
border: 2px solid var(--primary-darker) !important;
padding-right: 54px !important;
width: 100% !important;
height: 63px;
box-shadow: 0 0 7px rgba(0,0,0,0.28);
}
.searchbar{
position: relative;
}
.togglesearch{
/* background: var(--light); */
position: absolute;
top: 50px;
right: -42px;
width: 1528px;
height: 60px;
line-height: 60px;
/* box-shadow: 0 0 7px rgba(0,0,0,0.28); */
/* border-top:4px solid var(--primary); */
display: none;
padding: 7px;
}
/* .togglesearch:before{
content: "";
position: absolute;
top: -21px;
right: 21px;
border-left: 12px solid transparent;
border-right: 12px solid transparent;
border-top: 14px solid transparent;
border-bottom: 14px solid var(--primary);
} */
.search-container{
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
}
.search-container input{
padding: 5px;
width: 1442px;
height: 40px;
}
.search-container input:focus{
border-color: red !important;
}

/* Navlink mobile */
.mobile-nav{
display: none;
}
.nav-item-mobile{
display: none;
}
.mobile-nav .container-fluid{
width: 90%;
}
.mobile-nav nav{
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
}
.mobile-nav button{
border: 1px solid lightgray;
}
.mobile-nav a{
color: #000;
}

/* Responsive */


/* @media (min-width: 1200px) {
.navbar .nav-item .dropdown-menu {
display: block;
visibility: hidden;
top: 100%;
transform: rotateX(-75deg);
transform-origin: 0% 0%;
border: 0;
transition: .5s;
opacity: 0;
}
} */

@media (max-width: 500px) {
.navbar{
height: 75px !important;
}
}