.body-content-container{
  margin-top: 140px;
}
.content-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 84px;
}
.content-container .body-left{
  padding: 0;
  height: 100%;
}
.content-container .body-right{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.content-container .body-right .content-header{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}
.body-right h1{
  width: 100%;
  font-size: 35px;
  text-align: left;
  color: var(--dark) !important;
  font-family: "Fjalla One";
  font-weight: 500;
}
.body-right .content-info{
  text-align: left;
  font-size: 16px;
  margin: 0;
}
.body-right .content-body{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: justify;
  width: 800px;
}
.body-right .content-body p{
  margin: 21px 0;
}
.body-right .content-body .affiliate{
  display: flex;
  flex-direction: row;
}
.affiliate button{
  margin-right: 10px;
  padding: 10px 16px;
  border: none;
  border-radius: 4px;
  background: var(--primary);
  color: #fff;
  cursor: pointer;
  transition: all 0.3s;
  border: 1px solid var(--light);
}
.affiliate button:hover{
  background: var(--light);
  color: var(--primary);
  border: 1px solid var(--primary);
}

.sharing-icon{
  display: flex;
  flex-direction: column;
  gap: 7px;
  position: sticky;
  top: 180px;
}
.sharing-icon a{
  width: 35px;
  height: 35px;
  border-radius: 25px;
  border-color: var(--primary) !important;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--primary) !important;
}
.sharing-icon a:hover{
  color: var(--light) !important;
  background-color: var(--primary) !important; 
}





