.quote {
  text-align: center;
  padding: 30px;
  border: 1px solid #aaa;
  margin-bottom: 30px;
  font-style: italic;
}

/* ======= Mobile Search ======= */
.mobile-search{
display: none;
gap: 8px;
}
.mobile-search input{
flex: 1;
border: 2px solid var(--primary-darker) !important;
}
