.block .container h5{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    cursor: pointer;
}
.block .container h5:hover{
    color: #1a7d5a;
}
.block .badge{
    font-size: 12px !important;
    border-radius: 3px;
}
.article h5{
    font-family: "EB Garamond" !important;
}