/* Bootstrap Carousel */
.carousel{
  margin: 21px 0px;
}
.carousel-inner{
  height: 100%;
  display: flex;
  align-items: center;
}

.carousel-inner img{
  object-fit: cover;
  width: 100%;
}

@media (max-width: 700px){
  .carousel-inner{
    height: 200px;
  }
}