:root {
--primary: #309b65;
--secondary: #000000;
--light: #FFFFFF;
--dark: #000000;
--primary-darker: #26764d;
--primary-boder: #26764d;
--primary-active: #1f5c3d;
}
* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: sans-serif;
}
body {
min-height: 100vh;
background-size: cover; 
background-position: center; 
background-repeat: no-repeat; 
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

.body-content-container{
font-family: "Roboto";
margin-top: 105px;
display: flex;
flex-direction: row;
justify-content: center;
}
.main-content{
width: 1215px;
}
.sidebar{
width: 300px;
margin-left: 21px;
}
.hot-news{
font-size: 16px;
font-family: "Roboto";
}
.hot-news strong{
font-family: "EB Garamond";
font-size: 21px;
color: var(--primary);
}
#news-text {
  display: inline-block;
  transition: transform 0.4s ease, opacity 0.4s ease;
  will-change: transform, opacity;
}
#news-text.fade-out {
  opacity: 0;
  transform: translateY(-6px);
}

 /* ======= Mobile Search ======= */
.mobile-search{
display: none;
gap: 8px;
}
.mobile-search input{
flex: 1;
border: 2px solid var(--primary-darker) !important;
}

/* Responsive */
@media (max-width: 1268px){
.navbar-nav .nav-link {
font-size: 24px;
}
}
@media (max-width: 1200px){
.pc-search {
display: none;
}
.mobile-search{ 
display: initial; 
}
.body-content-container{
width: 70%;
display: flex;
flex-direction: column;
justify-content: center;
gap: 21px;
}
.main-content{
width: 100%;
display: initial;
}
.sidebar{
width: 0%;
display: none;
}
.mobile-search{
width: 100%;
}
}
@media (max-width: 768px){
.body-content-container{
width: 100%;
}
}
