:root {
--primary: #309b65;
--secondary: #000000;
--light: #FFFFFF;
--dark: #000000;
--primary-darker: #26764d;
--primary-boder: #26764d;
--primary-active: #1f5c3d;
}
* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: sans-serif;
}
body {
min-height: 100vh;
background-size: cover; 
background-position: center; 
background-repeat: no-repeat; 
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

.body-content-container{
font-family: "Roboto";
margin-top: 105px;
display: flex;
flex-direction: row;
justify-content: center;
}
.main-content{
width: 1215px;
}
.sidebar{
width: 300px;
margin-left: 21px;
}

/* Responsive */
@media (max-width: 1268px){
.navbar-nav .nav-link {
font-size: 24px;
}
}
@media (max-width: 1200px){
.pc-search {
display: none;
}
.mobile-search{ 
display: initial; 
}
.body-content-container{
width: 70%;
display: flex;
flex-direction: column;
justify-content: center;
gap: 21px;
}
.main-content{
width: 100%;
display: initial;
}
.sidebar{
width: 0%;
display: none;
}
.mobile-search{
width: 100%;
}
}
@media (max-width: 768px){
.body-content-container{
width: 100%;
}
}
