@media (max-width: 1680px){
  .body-content-container{
    width: 85%;
  }
  .nav-left{
    width: 66% !important;
  }
  .nav-right button{
    font-size: 14px;
  }
  .nav-right .dropdown-menu li{
    font-size: 12px;
  }
  /*logo*/
  .nav-left h1{
    font-size: 28px !important;
  }
  .navbar-nav{
    gap: 30px !important;
  }
  .navbar-collapse a{
    font-size: 14px !important;
  }

  .hot-news{
    font-size: 16px;
  }
  .hot-news strong{
    font-size: 21px;
  }

  .togglesearch{
  right: -42px;
  width: 1414px;
  }
}

@media (max-width: 1600px){
  .body-content-container{
    width: 85%;
  }
  .nav-left{
    width: 65% !important;
  }
  .nav-right button{
    font-size: 14px;
  }
  .nav-right .dropdown-menu li{
    font-size: 12px;
  }
  /*logo*/
  .nav-left h1{
    font-size: 28px !important;
  }
  .navbar-nav{
    gap: 30px !important;
  }
  .navbar-collapse a{
    font-size: 14px !important;
  }

  .hot-news{
    font-size: 16px;
  }
  .hot-news strong{
    font-size: 21px;
  }

  .togglesearch{
  right: -42px;
  width: 1345px;
  }
}

@media (max-width: 1440px){
  .body-content-container{
    width: 85%;
  }
  .nav-left{
    width: 61.8% !important;
  }
  .nav-right button{
    font-size: 13px;
  }
  .nav-right .dropdown-menu li{
    font-size: 11px;
  }
  /*logo*/
  .nav-left h1{
    font-size: 24px !important;
  }
  .navbar-nav{
    gap: 20px !important;
  }
  .navbar-collapse a{
    font-size: 12px !important;
  }

  .hot-news{
    font-size: 14px;
  }
  .hot-news strong{
    font-size: 18px;
  }

  .togglesearch{
  right: -42px;
  width: 1204px;
  }
}

@media (max-width: 1440px){
  .body-content-container{
    width: 85%;
  }
  .nav-left{
    width: 62.8% !important;
  }
  .nav-right button{
    font-size: 13px;
  }
  .nav-right .dropdown-menu li{
    font-size: 11px;
  }
  /*logo*/
  .nav-left h1{
    font-size: 24px !important;
  }
  .navbar-nav{
    gap: 20px !important;
  }
  .navbar-collapse a{
    font-size: 12px !important;
  }

  .hot-news{
    font-size: 14px;
  }
  .hot-news strong{
    font-size: 18px;
  }

  .sidebar{
    margin-top: 48px;
  }
}

@media (max-width: 1400px){
  .body-content-container{
    width: 85%;
  }
  .nav-left{
    width: 62.2% !important;
  }
  .nav-right button{
    font-size: 13px;
  }
  .nav-right .dropdown-menu li{
    font-size: 11px;
  }
  /*logo*/
  .nav-left h1{
    font-size: 24px !important;
  }
  .navbar-nav{
    gap: 10px !important;
  }
  .navbar-collapse a{
    font-size: 12px !important;
  }

  .hot-news{
    font-size: 14px;
  }
  .hot-news strong{
    font-size: 18px;
  }

  .togglesearch{
  right: -42px;
  width: 1170px;
  }
}

@media (max-width: 1366px){
  .body-content-container{
    width: 85%;
  }
  .nav-left{
    width: 61.6% !important;
  }
  .nav-right button{
    font-size: 13px;
  }
  .nav-right .dropdown-menu li{
    font-size: 11px;
  }
  /*logo*/
  .nav-left h1{
    font-size: 24px !important;
  }
  .navbar-nav{
    gap: 20px !important;
  }
  .navbar-collapse a{
    font-size: 12px !important;
  }

  .hot-news{
    font-size: 14px;
  }
  .hot-news strong{
    font-size: 18px;
  }

  .togglesearch{
  right: -42px;
  width: 1142px;
  }
}

@media (max-width: 1360px){
  .body-content-container{
    width: 85%;
  }
  .nav-left{
    width: 61.6% !important;
  }
  .nav-right button{
    font-size: 13px;
  }
  .nav-right .dropdown-menu li{
    font-size: 11px;
  }
  /*logo*/
  .nav-left h1{
    font-size: 24px !important;
  }
  .navbar-nav{
    gap: 20px !important;
  }
  .navbar-collapse a{
    font-size: 12px !important;
  }

  .hot-news{
    font-size: 14px;
  }
  .hot-news strong{
    font-size: 18px;
  }

  .togglesearch{
  right: -42px;
  width: 1137px;
  }
}

@media (max-width: 1280px){
  .body-content-container{
    width: 85%;
  }
  .nav-left{
    width: 60% !important;
  }
  .nav-right button{
    font-size: 13px;
  }
  .nav-right .dropdown-menu li{
    font-size: 11px;
  }
  /*logo*/
  .nav-left h1{
    font-size: 24px !important;
  }
  .navbar-nav{
    gap: 10px !important;
  }
  .navbar-collapse a{
    font-size: 11.5px !important;
  }

  .hot-news{
    font-size: 14px;
  }
  .hot-news strong{
    font-size: 18px;
  }
  .togglesearch{
  right: -42px;
  width: 1068px;
  }
}

@media (max-width: 1152px){
  .body-content-container{
    width: 90%;
    margin-top: 80px;
  }
  .mobile-search{
    display: initial;
  }
  .pc-nav{
    display: none;
  }
  .mobile-nav{
    display: flex;
    flex-direction: row;
    align-items: center !important;
    padding: 20px 0;
    justify-content: center;
  }
  .navbar{
    padding: 0;
  }
  .nav-item{
    display: none;
  }
  .nav-item-mobile{
    display: initial;
  }
  .nav-left{
    width: 90% !important;
    justify-content: space-between;
  }
  .nav-right {
    display: none;
  }
  .nav-right .dropdown-menu li{
    font-size: 11px;
  }
  /*logo*/
  .nav-left h1{
    font-size: 24px !important;
  }
  .navbar-nav{
    gap: 10px !important;
  }
  .navbar-nav:first-child{
    margin-top: 10px;
  }
  .navbar-collapse a{
    font-size: 16px !important;
  }

  .hot-news{
    font-size: 14px;
  }
  .hot-news strong{
    font-size: 18px;
  }
}